<div>
  
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" class="form-control" [(ngModel)]="recipient.name" required ngModel  (keyup)="isStringEmpty()">
      <span class="text-danger" *ngIf="!error">Field cannot be empty</span>
    </div>
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name="email" class="form-control" 
                    required  
                    pattern="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                    [(ngModel)]="recipient.email" 
                    
                    #email="ngModel">
      <div *ngIf="(email.touched || email.dirty) && email.errors">
        <div [hidden]="!email.errors?.pattern"  class="text-danger ">
           Email format is invalid!!!
        </div>
        <div [hidden]="!email.errors?.required"  class="text-danger ">
          Email required!
        </div>
     </div>
    
    </div>
    <div class="col-sm-2"></div>
    
    
  </div>

  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" name="phone" class="form-control" 
      [textMask]="{mask: mask}"
      pattern="\(\d{3}\) \d{3}-\d{4}"
      [(ngModel)]="recipient.phone"  
      #phone="ngModel">
      <div *ngIf="(phone.touched || phone.dirty) && phone.errors">
        <div [hidden]="!phone.errors?.pattern"  class="text-danger ">
           Phone format is invalid!!!
        </div>
        
     </div>
    </div>
  </div>
  <div class="form-check form-check-inline">
      <label class="form-check-label" >Does represent a Vendor/Supplier:</label>
    </div>
    
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isVendor" id ="isVendor1"  [checked]="recipient.salesPerson==1" (change)="isVendor(true)" >
            <label class="form-check-label" for="isVendor1">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isVendor" id ="isVendor2"  [checked]="recipient.salesPerson==0" (change)="isVendor(false)" >
            <label class="form-check-label" for="isVendor2">No</label>
          </div>
       
      
          <div *ngIf="displayVendor">
              <div class="form-check form-check-inline" *ngFor="let vendor of vendors; let vendorIndex=index">
                  <input class="form-check-input" type="radio"  name="vendor" id ="{{'isVendo' + vendorIndex}}" (change)="vendorRepresent(vendorIndex)" >
                  <label class="form-check-label" for="{{'isVendo' + vendorIndex}}">{{vendor.name}}</label>
                </div>
    
          </div>

    <div *ngIf="displayRecipient">
        <div>
            <label for="vendor">Choose vendor order:</label>
          </div>
          <div class="ml-3">
          <div class="form-check form-check-inline" *ngFor="let vendor of vendors; let i=index">
            <label class="form-check-label">
                  <input class="form-check-input" 
                  [name]="vendor.name" 
                  [(ngModel)]="flag[i]"
                  type="checkbox" ngModel>
                  {{vendor.name }}
                </label>
          </div>
        </div>
    </div>
  
  <div class="form-group">
    <div class="text-right">
      <button class="btn btn-link" (click)="saveRecipient()" [disabled]="(!error || email.errors || phone.errors || !recipient.name)">Save</button>
      <button class="btn btn-link" (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>
