table tr:last-child{
    border-bottom: solid 1px rgb(192, 191, 191);
}
table{
    table-layout: fixed;
}

.table td{
    border-top: solid 1px rgb(192, 191, 191);
}

.col-xs-3{
    padding-left: 0.5rem;
}

compare{
    background-color: yellow;
}

p{
    margin: 0;
}

.input-group-addon{
    padding: 0 0.5rem 0 0.5rem;
    cursor: pointer;

}

.minus{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

input[type="number"] {
  width: 100px;
}

.search {
    margin-left: 0rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .search {
        margin-left: 1rem;
    }
 }
    
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
